@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<BetterBites.DnnRF.Dnn.Receptkatalogus.Models.Receptek>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


@*<div id="Items-@Dnn.ModuleContext.ModuleId">
        @if (Model == null)
        {
            <p>@Dnn.LocalizeString("NoItems")</p>
        }
        else
        {
            <ul class="tm_tl">
                @foreach (var item in Model)
                {
                    <li class="tm_t">
                        <h3>@item.nev</h3>

                    </li>
                }
            </ul>
        }
    </div>*@
@*<div>
    @foreach (var recept in Model)
    {
        <h2>@recept.nev</h2>
    }
</div>*@

<div id="kategorialista">
    <div class="modulcimek">
        <h1 class="modulcim">Találd meg kedvenc mentes receptjeidet!</h1>
        <h3 class="modulalcim">Válassz kategóriát!</h3>
    </div>
    <div id="kategoriacontainer" class="kategoriacontainer">
        <div id="rdiv" class="kategoria">
            <div class="kategoriakep">
                <a href=#>
                    <img class="katkep" src="~/Portals/0/Images/reggeli.png">
                </a>
            </div>
            <div class="kategorianev">
                <a href=#>
                    <h3>Reggeli</h3>
                </a>
            </div>
        </div>
        <div id="bdiv" class="kategoria">
            <div class="kategoriakep">
                <a href=#>
                    <img class="katkep" src="~/Portals/0/Images/ebed.png">
                </a>
            </div>
            <div class="kategorianev">
                <a href=#>
                    <h3>Ebéd</h3>
                </a>
            </div>
        </div>
        <div id="vdiv" class="kategoria">
            <div class="kategoriakep">
                <a href=#>
                    <img class="katkep" src="~/Portals/0/Images/vacsora.png">
                </a>
            </div>
            <div class="kategorianev">
                <a href=#>
                    <h3>Vacsora</h3>
                </a>
            </div>
        </div>
    </div>
</div>



<div id="receptlista">
    <div id="reggelik" class="receptlistazas">
        @foreach (var recept in Model)
        {
            if (recept.reggeli)
            {
                <div class="receptsorolas" onclick="katrecept()">
                    <div class="receptsorolaskep">
                        <a href=#>
                            <img src="~/Portals/0/Images/receptkepekvagott/@recept.kepnev" />
                        </a>
                    </div>
                    <div class="receptsorolasnev">
                        <a href=#>
                            <h3>@recept.nev</h3>
                        </a>
                    </div>
                </div>
                
            }
        }
    </div>
    <div id="ebedek" class="receptlistazas">
        @foreach (var recept in Model)
        {
            if (recept.ebed)
            {
                <div class="receptsorolas" onclick="katrecept()">
                    <div class="receptsorolaskep">
                        <a href=#>
                            <img src="~/Portals/0/Images/receptkepekvagott/@recept.kepnev" />
                        </a>
                    </div>
                    <div class="receptsorolasnev">
                        <a href=#>
                            <h3>@recept.nev</h3>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
    <div id="vacsorak" class="receptlistazas">
        @foreach (var recept in Model)
        {
            if (recept.vacsora)
            {
                <div class="receptsorolas" onclick="katrecept()">
                    <div class="receptsorolaskep">
                        <a href=#>
                            <img src="~/Portals/0/Images/receptkepekvagott/@recept.kepnev" />
                        </a>
                    </div>
                    <div class="receptsorolasnev">
                        <a href=#>
                            <h3>@recept.nev</h3>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div id="receptinfo">

</div>

<script type="text/javascript">
    var rdiv = document.getElementById('rdiv');
    var bdiv = document.getElementById('bdiv');
    var vdiv = document.getElementById('vdiv');

    var reggelik = document.getElementById('reggelik');
    reggelik.style.display = 'none';
    var ebedek = document.getElementById('ebedek');
    ebedek.style.display = 'none';
    var vacsorak = document.getElementById('vacsorak');
    vacsorak.style.display = 'none';


    function katlista (etkezes) {
        var div = document.getElementById('kategorialista');
        if (div.style.display !== 'none') {
            div.style.display = 'none';
        }
        else {
            div.style.display = 'block';
        }
        var etkezesdiv = document.getElementById(etkezes);
        if (etkezesdiv.style.display == 'none') {
            etkezesdiv.style.display = 'flex';
        }
    };

    rdiv.onclick = function () {
        katlista('reggelik');
    }
    bdiv.onclick = function () {
        katlista('ebedek');
    }
    vdiv.onclick = function () {
        katlista('vacsorak');
    }

    var receptlista = document.getElementById('receptlista');


    var receptinfo = document.getElementById('receptinfo');
    receptinfo.style.display = 'none';


    function katrecept() {
        receptlista.style.display = 'none';
    }
</script>